

@media screen and (max-width: 480px) {
  #bestBox {height: 90.875rem;}
  #bestBox > ul {margin: auto; width: 63.125vw; /*303/480*100*/ min-width: 17.5rem; height: 227.083333vw; /*1090/480*100*/ min-height: 62.875rem;}
  #bestBox > ul > li {width: 63.125vw; /*303/480*100*/ min-width: 17.5rem;  height: 104.166666vw; /*500/480*100*/                  min-height: 28.875rem; margin-bottom: 15.833333vw; /*76/480*100*/}
  #bestBox > ul > li > a {height: 95.833333vw; /*460/480*100*/ min-height: 26.5625rem;}
  #bestBox > ul > li > a > .best_img {height: 67.5vw; /*324/480*100*/ min-height: 18.625rem;
                                      margin-bottom: 0.625rem;}
  #bestBox > ul > li > button {bottom: 0;}
  #bestBox> ul > li:nth-child(3),
  #bestBox> ul > li:nth-child(4) {display: none;}
}