#piano_wrap {
  position: relative;
  box-sizing: border-box; padding: 100px 0;
  width: 100%; height: auto; min-height: 500px;
}

#piano_wrap > h2 {
  width: 146px; height: 38px;
  margin: auto; text-align: center; line-height: 38px;
  font-weight: bold; color: #48217a; margin-bottom: 124px;
  text-transform: uppercase;
}

  #sub_map {
    position: absolute; top: 100px; right: 50%; margin-right: -628px;
    width: 148px; height: 20px;
    background-color: #ccc;
  }