@media screen and (min-width: 481px) and (max-width: 768px) {
  .piano {height: 87.5rem;}
  .piano > ul {margin: auto; width: 40.5rem; height: 68.125rem;}
  .piano > ul > li {height: 31.25rem; margin-right: 2.625rem; margin-bottom: 5.125rem;}
  .piano > ul > li:nth-child(2n) {margin-right: 0;}
}