@media screen and (max-width: 480px) {
  #sub_map {display: none;}
  #yamaha_origin > h2 {font-size: 2.6rem; line-height: 1.2;}
  #yamaha_origin > p {padding: 50px 10px; width: 80%; text-align: justify;}
  #sub_map {margin-right: -18.75rem;}
  .tuner {background-size: normal; opacity: 0.6; background-attachment: fixed;}
}