@media screen and (min-width: 481px) and (max-width: 768px) {

  .historyOfLogo > article > ul { width: 100%; }
  .historyOfLogo > article > ul > li {background-color: #fff; height: 200px;}
  #yamahaLogo > ul > li:nth-child(2) {height: 200px;}
  .historyOfLogo > article > ul > li > span {display: none;}
  #tuning > ul > li > .tuning_img {float: none; border: 0; width: 100%;}
  #yamahaLogo > ul > li > .logo_img {float: none; border: 0; width: 100%;}

  .historyOfLogo > article > ul > li > div {
    position: relative; overflow: hidden;
  }

  .historyOfLogo > article > ul > li > div > .copyBlack {
    position: absolute; bottom: 0; right: -10px; z-index: 2;
    display: block; text-align: center; line-height: 40px; font-weight: bold;
    width: 40%; height: 20%; color: #fff;
  }

  .historyOfLogo > article > ul > li > div > .copyBlack:before {
    position: absolute; z-index: -1;
    top: 0; right: -8px;
    content: ""; display: block;
    width: 80%; height: 100%;
    background-color: #222;
    transform: skew(20deg);
  }

}