/* artistBox.css */

#artistBox {
  position: relative;
  box-sizing: border-box; padding: 6.25rem 0; 
  width: 100%; height: 57.8125rem;
}

#artistBox > h2 {
  width: 21.25rem; height: 2.375rem;
  margin: auto; text-align: center; line-height: 2.375rem;
  font-weight: bold; color: #48217a; margin-bottom: 7.8125rem;
  text-transform: capitalize;
}


/* arti_indi -------------------------------------- */


.arti_indi {
  box-sizing: border-box; padding: 0 0.125rem;
  position: absolute; top: 12.5rem; left: 50%; margin-left: -3.3125rem;
  width: 6.625rem; height: 1.25rem;
}

.arti_indi > li {
  float: left; margin-right: 0.5rem;
  width: 0.875rem; height: 0.9375rem;
}

.arti_indi > li:last-child {
  margin-right: 0;
}

.arti_indi > li > a {
   box-sizing: border-box; border-radius: 1rem; 
   border: 0.0625rem solid #48217a;
}

.arti_indi > li.active > a,
.arti_indi > li > a:hover,
.arti_indi > li > a:focus {
  border: 0; background-color: #48217a;
}



/* slide_vedio ---------------------------------------- */


.slide_vedio {
  width: 100%; height: 100%; overflow: hidden;
}

/* slide_vedio --------------------------------------- */

.slide_vedio > .vedio_list {
  width: 500%; height: 21.875rem;
}

.slide_vedio > .vedio_list > li {
  float: left; position: relative;
  margin-right: 4.375rem; width: 20.625rem; height: 21.875rem;
  background-repeat: no-repeat; background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.slide_vedio > .vedio_list > li:nth-child(1) {margin-left: 3.125rem;}

.slide_vedio > .vedio_list > li > a {
  display: block;
  width: 100%; height: 100%;
}

.slide_vedio > .vedio_list > li > a > span {
  position: absolute; bottom: -1.875rem;
  width: 100%; height: auto; text-align: center; font-weight: bold;
}

.slide_vedio > .vedio_list > li > a:hover,
.slide_vedio > .vedio_list > li > a:focus {
  background-image: url(../../../../img/artistBox/play.png);
  background-repeat: no-repeat; background-position: center;
  -webkit-background-size: cover;
  background-size: cover;   
}

