@media screen and (min-width: 769px) {
  #artistBox { height: 48.875rem;}
  .slide_vedio > .vedio_list {width: 1000%; height: 22.375rem;}
  .slide_vedio > .vedio_list > li {width: 18rem; height: 18.75rem;}
  .slide_vedio > .vedio_list > li:first-child {margin-left: 3.125rem;}
}