
@media screen and (min-width: 481px) and (max-width: 768px) {
  #artistBox {height: 43.375rem;}
  #artistBox > .slide {margin-top: 0;}
  .slide_vedio > .vedio_list {width: 2000%; height: 16.875rem;}
  .slide_vedio > .vedio_list > li {margin-right: 2.375rem; width: 13.375rem; height: 14rem;}
  .slide_vedio > .vedio_list > li:first-child {margin-left: 1.25rem;}
  #snsBox {display: none;}
}