@media screen and (max-width: 480px) {
  #eventBox {padding-top: 10.416666vw; padding-bottom: 4.166666vw; /*20/480*100*/}
  #eventBox > h2 {width: 70.833333vw; font-size: 1.25rem; /*340/480*100*/}
  #eve_wrap {width: 83.75vw; /*402/480*100*/ height: 129.166666vw; /*620/480*100*/}
  #eve_wrap > ul > li {width: 40vw; /*192/480*100*/ height: 40vw; /*192/480*100*/ margin-right: 0;  margin-bottom: 0;}
  #eve_wrap > ul > li:nth-child(1) {width: 83.75vw; /*402/480*100*/ height: 83.75vw; /*402/480*100*/ margin-bottom: 4.166666vw; /*20/480*100*/}
  #eve_wrap > ul > li:nth-child(2) {margin-right: auto; /*10/480*100*/}
  #eve_wrap > ul > li:nth-child(3) {float: right; margin-right: 0;}
  .t_none {display: none;}
  .m_none {display: none;}
  #eve_wrap > ul > li:hover > a:after,
  #eve_wrap > ul > li:hover > a::after,
  #eve_wrap > ul > li:focus > a:after,
  #eve_wrap > ul > li:focus > a::after,
  #eve_wrap > ul > li:hover > a:before,
  #eve_wrap > ul > li:hover > a::before,
  #eve_wrap > ul > li:focus > a:before,
  #eve_wrap > ul > li:focus > a::before {display: none;}
}