/* eventBox.css */

#eventBox {
  box-sizing: border-box; padding: 6.25rem 0;
  width: 100%; height: 64.625rem;
}

#eventBox > h2 {
  width: 21.25rem; height: 2.375rem;
  margin: auto; text-align: center; line-height: 2.375rem;
  font-weight: bold; color: #48217a; margin-bottom: 7.25rem;
  text-transform: capitalize;
}

#eve_wrap {
  margin: auto;
  width: 66.375rem; height: 39rem;
}

#eve_wrap > ul {
  width: 100%; height: 100%;
}

#eve_wrap > ul > li {
  position: relative;
  float: left;
  width: 12rem; height: 12rem; margin-right: 1.625rem; margin-bottom: 1.125rem;
}

#eve_wrap > ul > li > a {
  width: 100%; height: 100%; display: block;
  box-sizing: border-box; border: 0.0625rem solid #cacaca;
  background-repeat: no-repeat;
  background-position: center; background-size: cover;
}

#eve_wrap > ul > li:first-child {
  width: 25.125rem; height: 25.125rem;
}

#eve_wrap > ul > li:nth-child(6) {
  height: 25.125rem; margin-right: 0; margin-top: -13.125rem; 
}

#eve_wrap > ul > li:nth-child(7) {
  width: 38.75rem;
}

#eve_wrap > ul > li:last-child {
  margin-right: 0;
}

.eve_hei {
   height: 11.875rem;
}

#eve_wrap > ul > li:nth-child(1) > a {background-image: url(../../../../img/eventBox/eve_ban_01.jpg);}
#eve_wrap > ul > li:nth-child(2) > a {background-image: url(../../../../img/eventBox/eve_ban_02.jpg);}
#eve_wrap > ul > li:nth-child(3) > a {background-image: url(../../../../img/eventBox/eve_ban_03.jpg);}
#eve_wrap > ul > li:nth-child(4) > a {background-image: url(../../../../img/eventBox/eve_ban_04.jpg);}
#eve_wrap > ul > li:nth-child(5) > a {background-image: url(../../../../img/eventBox/eve_ban_05.jpg);}
#eve_wrap > ul > li:nth-child(6) > a {background-image: url(../../../../img/eventBox/eve_ban_06_pc.jpg);}
#eve_wrap > ul > li:nth-child(7) > a {background-image: url(../../../../img/eventBox/eve_ban_07_pc.jpg);}
#eve_wrap > ul > li:nth-child(8) > a {background-image: url(../../../../img/eventBox/eve_ban_08.jpg);}
#eve_wrap > ul > li:nth-child(9) > a {background-image: url(../../../../img/eventBox/eve_ban_09.jpg);}

#eve_wrap > ul > li > a:after,
#eve_wrap > ul > li > a::after {
  content: " "; display: block;
  width: 100%; height: 100%;
  background-image: url(../../../../img/adBox/rgba22.png);
  -webkit-background-size: cover; background-position: center;
  background-repeat: no-repeat; cursor: zoom-in;
  background-size: cover; opacity: 0; transition: all 300ms ease-out;
}

#eve_wrap > ul > li > a:before,
#eve_wrap > ul > li > a::before {
  content: "보러가기"; display: block;
  position: absolute; top: 50%; left: 50%; margin-top: -1.25rem; margin-left: -3.75rem;
  box-sizing: border-box; border: 0.125rem solid #fff; border-top: 0; border-bottom: 0;
  font-size: 1rem; text-align: center; line-height: 2.5rem; color: #fff;
  background-image: url(../../../../img/adBox/rgba255.png);
  background-repeat: no-repeat; background-position: center;
  background-size: cover;
  width: 7.5rem; height: 2.5rem; opacity: 0; transition: all 300ms ease-out;
}

#eve_wrap > ul > li:nth-child(1) > a:before,
#eve_wrap > ul > li:nth-child(1) > a::before,
#eve_wrap > ul > li:nth-child(7) > a:before,
#eve_wrap > ul > li:nth-child(7) > a::before {
  content: "보러가기"; display: block;
  position: absolute; top: 50%; left: 50%; margin-top: -1.6875rem; margin-left: -5rem;
  box-sizing: border-box; border: 0.125rem solid #fff; border-top: 0; border-bottom: 0;
  font-size: 1rem; text-align: center; line-height: 3.375rem; color: #fff;
  background-image: url(../../../../img/adBox/rgba255.png);
  background-repeat: no-repeat; background-position: center;
  background-size: cover;
  width: 10rem; height: 3.375rem; opacity: 0; transition: all 300ms ease-out;
}

#eve_wrap > ul > li:hover > a:after,
#eve_wrap > ul > li:hover > a::after,
#eve_wrap > ul > li:focus > a:after,
#eve_wrap > ul > li:focus > a::after,
#eve_wrap > ul > li:hover > a:before,
#eve_wrap > ul > li:hover > a::before,
#eve_wrap > ul > li:focus > a:before,
#eve_wrap > ul > li:focus > a::before {
  opacity: 1;
}
