@media screen and (min-width: 481px) and (max-width: 768px) {
    #corporation > p { width: 80%; }
    #corporation > #logovs {width: 70%; height: 280px;}
    #logovs > div {float: none; margin-right: 0; width: 100%; height: 130px;}
    #logovs > div:first-of-type {margin-bottom: 20px;}  
}