@media screen and (max-width: 480px) {
  #after {height: 1454px;}
  #after > ul {margin: auto; width: 63.125vw; /*303/480*100*/ min-width: 280px; height: 227.083333vw; /*1090/480*100*/ min-height: 1006px;}
  #after > ul > li {width: 63.125vw; /*303/480*100*/ min-width: 280px;  height: 104.166666vw; /*500/480*100*/                  min-height: 462px; margin-bottom: 15.833333vw; /*76/480*100*/}
  #after > ul > li > a {height: 95.833333vw; /*460/480*100*/ min-height: 425px;}
  #after > ul > li > a > .best_img {height: 67.5vw; /*324/480*100*/ min-height: 298px;
                                      margin-bottom: 10px;}
  #after > ul > li > button {bottom: 0;}
  #after> ul > li:nth-child(3),
  #after> ul > li:nth-child(4) {display: none;}
}