/* piano_grand.css */

#piano_grand {
  box-sizing: border-box; padding: 7.5rem 0;
  width: 100%; height: 39.375rem;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url(../../../../img/snsBox/sns_b.png); background-attachment: fixed;
}

#piano_grand > div {
  margin: auto;
  width: 60rem; height: 25rem;
}

#piano_grand > div > article {
  float: left; position: relative;
  width: 29.125rem; height: 25rem;
  background-color: #ded;
  background-repeat: no-repeat;
  background-size: cover;
}

.cx_series {
  margin-right: 1.625rem; background-position: 50%;
  background-image: url(../../../../img/cx_series.jpg);
}

.gc_series {
  background-position:80%;
  background-image: url(../../../../img/gc_series.jpg);
}


#piano_grand > div > article > a {
  width: 100%; height: 100%; display: block;
}

#piano_grand > div > article > button {
  position: absolute; top: 15.875rem; left: 50%; margin-left: -5rem;
  border: 0.125rem solid #fff; border-top: 0; border-bottom: 0;
  width: 10rem; height: 3.375rem; color: #fff; font-size: 1rem;
}

#piano_grand > div > article > button:before {
  content: ""; width: 0; height: 100%; display: block;
  background-color: rgba(255, 255, 255, 0.2);
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  position: absolute;
  top: 0;
  left: 0;
}

#piano_grand > div > article > button:hover:before,
#piano_grand > div > article > button:focus:before {
  width: 100%;
}