 /* index.css */

#wrap {
  position: relative;
  width: 100%; height: auto;
  font-family: "나눔바른고딕", "myriad pro"; color: #222;
}

/* 보이지 않다가 scrollTop이 100% 넘어가면 나타나게*/
/*#top {
  position: fixed; right: 3%; bottom: 3%;
  width: 4.5rem; height: 4.5rem; background-color: #666;}*/

/* headBox.css ------------------------------------------------------ */

/*슬라이드 내려가면 배경색이 흰색으로 변경되게*/
#headBox {
  position: absolute; top: 0; left: 0;
  width: 100%; height: 120px; z-index: 9000;
  background-color: #fff;
}

#headBox.bgsize:after {
  top: 70px;
}

#headBox.bgView {
  transition: height 500ms linear;
}

#headBox.bgsize {
  height: 70px;
/*  transition: height 500ms linear;*/
}


#headBox > h1 {
  position: absolute; left: 50%; margin-left: -630px; bottom: 0;
  width: 200px; height: 70px;
  background-image: url(../../../../img/headbox/logo.png);
  background-repeat: no-repeat; background-position: center;
  background-size: contain;
}



/* nav --------------------*/

#navigation {
  position: absolute; left: 50%; margin-left: -175px;
  width: 844px; height: 100%;
}

/* gnb ------------------------------*/

#gnb {
  position: absolute; bottom: 0;
  width: 100%; height: 56px;
}

#gnb > li {
  z-index: 50;
  float: left; width: 156px; height: 100%; margin-right: 6px;
}

#gnb > li:nth-child(3) {
  width: 196px;
}

#gnb > li:last-child {
  margin-right: 0;
}


#gnb > li > a {
  position: relative;
  width: 100%; height: 100%; display: block; 
  text-align: center; line-height: 56px;
  font-weight: bold;
}

#gnb > li > ol {
/*  box-sizing: border-box; padding: 19.2px 0 1rem 0.5rem;*/
  width: 100%; height: auto; text-align: center;
  background-color: rgba(255,255,255,0.7); border-radius: 16px;

}


/*#gnb > li > ol.active {
  height: auto;
  background-color: rgba(255,255,255,0.7);
}
*/

#gnb > li > ol > li {
  width: 100%; height: auto;
  padding-bottom: 3px; box-sizing: border-box;
  font-size: 0.875rem; line-height: 40px;
}

#gnb > li > ol > li:last-child {
  padding-bottom: 0;
}

#gnb > li > ol > li > a {
  width: 100%; height: 100%; display: block;
}

#gnb > li > ol > li > a:hover,
#gnb > li > ol > li > a:focus {
  font-weight: bold; font-size: 1rem;
}

#gnb > li > a:after,
#gnb > li > a::after {
  content: " "; display: block; position: absolute;
  width: 0; height: 0; left: 20%; bottom: 8px; background-color: #48217a;
  transition: all 300ms ease;
}

#gnb > li > a:hover:after,
#gnb > li > a:hover::after,
#gnb > li > a:focus:after,
#gnb > li > a:focus::after {
  width: 60%; height: 3px; transform: translateY(-3px);
}


/* unb ----------------------------*/

#unb {
/*  position: absolute; top: 0; right: 50%; margin-right: -105px;  */
  float: right;
  width: 420px; height: 50px;
}

#unb > li {
  float: left; margin-right: 37px;
  height: 100%;
}

#unb > li:nth-child(1) {
  width: 60px;
}

#unb > li:nth-child(2) {
  width: 44px;
}

#unb > li:nth-child(3) {
  width: 36px;
}

#unb > li:nth-child(4) {
  width: 72px;
}

#unb > li:nth-child(5) {
  width: 60px;
}

#unb > li:last-child {
  width: 60px;
  margin-right: 0;
}

#unb > li > a {position: relative;
  width: 100%; height: 100%; display: block; 
  text-align: center; line-height: 50px; font-size: 0.875rem;
}

#unb > li > a:after,
#unb > li > a::after {
  content: " "; display: block; position: absolute;
  width: 0; height: 0; left: 0; bottom: 8px; background-color: #48217a;
  transition: all 300ms ease;
}

#unb > li > a:hover:after,
#unb > li > a:hover::after,
#unb > li > a:focus:after,
#unb > li > a:focus::after {
  width: 100%; height: 3px; transform: translateY(-3px);
}


/* mobile ------------------------- */


#mobile_navi {display: none;
  position: absolute; right: 20px; top: 10px;
  width: 5rem; height: 2.125rem;
}

#mobile_navi > button {
  float: left; z-index: 1600;
  width: 34px; height: 100%; color: #48217a;
  font-size: 24px; text-align: center; line-height: 34px;
}

.mobile_search {
  margin-right: 10px;
}

/* ------------------------- */

#sub_menu {
  display: none;
  position: fixed; right: 0; top: 56px; z-index: 2000;
  width: 250px; height: auto; background-color: #fff;/*rgba(255,255,255,0.7);*/
}

#sub_menu > dl {
  width: 100%; height: auto;
}

#sub_menu > dl > dt {
  border-bottom: 0.125rem solid #dfdfdf;
  width: 100%; height: 50px;
}

#sub_menu > dl > dt.active {
  border: 0; background-color: #48217a;
}

#sub_menu > dl > dt > button {
  width: 100%; height: 100%;
  text-align: left; cursor:pointer;
  font-weight: bold; font-family:'myriad pro';
  letter-spacing:0.05rem; word-spacing: 0.2rem;
  font-size: 1.2rem; text-transform:uppercase;
}

#sub_menu > dl > dt.active > button {
  color: #fff;
}

#sub_menu > dl > dd {
  box-sizing:border-box; padding: 11px;
  width: 100%; height: auto;
}

#sub_menu > dl > dd > a {
  display: block;
  width: 100%; height: 100%;
  font-size: 0.9rem;
}

#sub_menu > dl > dd {
  display: none;
}