@media screen and (min-width: 481px) and (max-width:768px) {
  #wrap {min-width: 40.625rem;}
  #headBox {height: 3.5rem;}
  #headBox > h1 {margin-left: -45.052083vw /*346/768*100*/;/* bottom: -1rem;*/ top:0.625rem;
                width: 11.75rem; height: 2.625rem;}
  #headBox.bgsize:after {top: 3.5rem;}
  #headBox.bgsize {height: 3.5rem;}
  #navigation {display: none;}
  #top {display: none;}
  #mobile_navi {display: block;}
  #sub_menu {width: 12.5rem;}
  #sub_menu > dl > dt > button {font-size: 1rem;}
}
