
@media screen and (max-width: 480px) {
  #wrap {min-width: 17.5rem;}
  #headBox {height: 3.5rem;}
  #headBox > h1 {margin-left: -44.083333vw /*250/480*100*/; /*bottom: -1.25rem;*/ top: 0.625rem;
                width: 8.75rem; height: 2.625rem;}
  #headBox.bgsize:after {top: 3.5rem;}
  #headBox.bgsize {height: 3.5rem;}                
  #navigation {display: none;}
  #mobile_navi {display: block; right: 4.166666vw; /*20/480*100*/}
  #sub_menu {width: 11.25rem;}
  #sub_menu > dl > dt > button {font-size: 0.875rem;}  
  #sub_menu > dl > dd {padding: 0.4rem;}

}